@import './base.css';

#app {
  max-width: 100vw;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /*body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }*/
}

#header {
  width: auto; 
  background-color: white;
  height: 3.5rem; 
  display: flex; 
  align-items: center;
}

#logo_name {
  margin: 0; 
  margin-left: 1rem; 
}

#logo {
  margin-left: 15rem; 
  height: 3rem; 
}

#service_content {
  width: 100vw;
  height: 40rem;
  position: relative;
  background-image: url("./pictures/wedding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -8rem;
  padding-bottom: 2rem;
}

#service {
  background-color: rgba(255,255,255,90%);
  position: absolute;
  bottom: 0;
  width: 100%; 
}

.container {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

#heading_service {
  text-align: center;
  margin-top: 2rem;
}

.flexbox {
  display: flex; 
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; 
}

.service_box {
  flex: 0 0 21rem;
  height: 14rem;
  margin: 1rem;
  overflow: hidden;
  background-color: black;
}

.service_box_image {
  display: block; 
  width: 100%; 
}